.ProcessView {
    flex: 4;
}

.P-Top {
    background-color: rgb(201, 200, 200);
    height: 150px;
}

.P-Title {
    text-align: center;
    font-size: 40px;
  /*  border-style: dashed;*/
    border-width: 1px;
    margin-left: 3cm;
    margin-right: 3cm;
    padding-top:1.1cm;
    font-family: 'GangwonEduPowerExtraBoldA';

}
p.Bottom {
    background-color: rgb(242, 242, 242);
}

.P-Image {
    width: 100%;
    height: 100%;
}